node_modules/
/allure-report/
/allure-results/
/my-allure-results/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
test-artifacts/
reports/
test-artifacts/
