# Dependencies
node_modules/

# Allure Reports
allure-report/
allure-results/
my-allure-results/

# Playwright
test-results/
playwright-report/
playwright/.cache/
test-artifacts/
reports/

# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
